**/__pycache__/
01.introductory.demo/prediction_visualization/
01.introductory.demo/prediction/
01.introductory.demo/datasets/
01.introductory.demo/arrays_raw/
01.introductory.demo/checkpoint/
**/*.swp
